body {
    background-color: rgb(180, 220, 255);
}
header {
    text-align: center;
    background-color: rgb(41, 66, 112);
    position: fixed;
    top: 0vh;
    left: 0vw;
    right: 0vw;
}
.botones {
    position: fixed;
}
iframe {
    margin-top: 100px;
    position: fixed;
    right: 20vw;
    left: 20vw;
    width: 60vw;
    height: 60vh;
    border-radius: 25px;
    border-color: rgb(0, 0, 0);
    border: 1px, solid;
    background-color: white;
}
h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: aliceblue;
}
ul {
    list-style-type: none;
    margin-top: 55px;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 60vw;
    position: fixed;
    left: 20vw;
    right: 20vw;
    border-radius: 20px;
}
  
li {
    float: left;
    width: 16.5%;
}
li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width: 90%;
}  
li a:hover {
    background-color: #111;
}
  footer {
    background-image: linear-gradient(to right, rgb(55, 87, 168),  rgb(180, 220, 255),  rgb(180, 220, 255));
    position: fixed;
    left: 0;
    bottom: 0; 
    width: 100%;   
}
h2 {
    color: white;
    padding-left: 50px;
}
